*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: black;
    --text: white;
    --calculator: #1b1b1b;
    --screen: #4f4f4f;
    --keys-gray: #a5a5a5;
    --keys-dark-gray: #333333;
    --keys-orange: #ff9f0a;

    --key-size: 70px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 300ms ease-in-out;
    background-color: var(--background);
}

.calculator {
    background-color: var(--calculator);
    border: 1px solid var(--text);
    padding: 15px;
    border-radius: 15px;
}

.screen {
    height: calc(var(--key-size) * 2);
    width: auto;
    background-color: var(--screen);
    margin: 10px;
    padding: 0 10px;
    color: var(--text);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}

#input{
    font-size: 2rem;
}
#result{
    font-size: 4rem;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    padding: 10px;
}

/* key grid placement */
#key_AC {
    grid-area: 1 / 1 / 2 / 2;
}
#key_plus-minus {
    grid-area: 1 / 2 / 2 / 3;
}
#key_percentage {
    grid-area: 1 / 3 / 2 / 4;
}
#key_divide {
    grid-area: 1 / 4 / 2 / 5;
}
#key_7 {
    grid-area: 2 / 1 / 3 / 2;
}
#key_8 {
    grid-area: 2 / 2 / 3 / 3;
}
#key_9 {
    grid-area: 2 / 3 / 3 / 4;
}
#key_multiply {
    grid-area: 2 / 4 / 3 / 5;
}
#key_4 {
    grid-area: 3 / 1 / 4 / 2;
}
#key_5 {
    grid-area: 3 / 2 / 4 / 3;
}
#key_6 {
    grid-area: 3 / 3 / 4 / 4;
}
#key_minus {
    grid-area: 3 / 4 / 4 / 5;
}
#key_1 {
    grid-area: 4 / 1 / 5 / 2;
}
#key_2 {
    grid-area: 4 / 2 / 5 / 3;
}
#key_3 {
    grid-area: 4 / 3 / 5 / 4;
}
#key_plus {
    grid-area: 4 / 4 / 5 / 5;
}
#key_0 {
    grid-area: 5 / 1 / 6 / 3;
}
#key_decimal {
    grid-area: 5 / 3 / 6 / 4;
}
#key_equals {
    grid-area: 5 / 4 / 6 / 5;
}

.keys {
    height: var(--key-size);
    width: var(--key-size);
    /* aspect-ratio: 1; */
    background-color: var(--keys-dark-gray);
    color: var(--text);
    font-size: 1.8rem;
    padding: 0.5rem;
    display: grid;
    place-items: center;
    border-radius: calc(var(--key-size) / 2);
    cursor: pointer;
}

.keys:hover {
    filter: brightness(120%);
}

#key_AC,
#key_plus-minus,
#key_percentage {
    background-color: var(--keys-gray);
}

#key_divide,
#key_multiply,
#key_minus,
#key_plus,
#key_equals {
    background-color: var(--keys-orange);
}

#key_divide:hover,
#key_multiply:hover,
#key_minus:hover,
#key_plus:hover,
#key_equals:hover {
    filter: brightness(80%);
}

#key_0 {
    /* +10px for gap */
    width: calc(var(--key-size) * 2 + 10px);
}
