*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: linear-gradient(to bottom, #56ccf2, #2f80ed);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    transition: all 300ms ease-in-out;
}

#gameContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#leftContainer,
#rightContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}

.status-box {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    width: 80%;
    height: 5rem;
    font-size: 2.5rem;
    color: white;
    display: grid;
    place-items: center;
}

.option-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#verticalBar {
    height: 60%;
    background-color: whitesmoke;
    width: 2px;
    /* same as left and right container */
    margin-top: 5rem;
}

.option {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}

.option img.option-svg {
    min-height: 150px;
    object-fit: cover;
}

.option p {
    font-size: 1.5rem;
}

.option div.keyboard-key {
    height: 60px;
    aspect-ratio: 1;
    font-size: 1.7rem;
    color: black;
    display: grid;
    place-items: center;
    padding: auto;
    border: 4px solid white;
    border-radius: 12px;
    box-shadow: -2px 2px 5px black;
    background-color: rgba(255, 255, 255, 0.3);
}

#scoreBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* set 10vw but cant be less than 80px and cant be more than 110px */
    height: clamp(80px, 10vw, 100px);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: clamp(1.4rem, 5vw, 2rem);
}

#opponentToggleButton{
    font-size: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
    padding: 0.8rem 2rem;
    border-radius: 1rem;
}

#opponentToggleButton:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

#opponentToggleButton .swap-svg{
    height: 40px;
    object-fit: cover;
}

#messageBox {
    display: none;
    position: fixed;
    height: 4rem;
    width: 12rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
    color: black;
    font-size: 2.5rem;
    place-items: center;
    border-radius: 1rem;
}
